body {
  height: 100%;
  width: 100%;
  background: #f7dfee;
}
div.outline {
  border-style: solid;
  border-width: 0px 5px 0px 5px;
  border-color: #00ff00;
}
a {
  text-decoration: inherit;
  color: inherit;
}
a:hover {
  text-decoration: inherit;
  color: inherit;
}
.fa-instagram {
  width: 100px;
  height: 100px;
  color: #f09433;
  color: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  color: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  color: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
