<table class="table m-3">
  <thead class='table-primary'>
    <tr>
      <th>Order Id</th>
      <th>Products</th>
      <th>Total</th>
      <th>shopper name</th>
      <th>shopper contact</th>
      <th>shopper Mail</th>
      <th>shopper Address</th>

      <th>status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor=" let order of orders">
      <td>{{order['orderId']}}</td>
      <td>
        <div *ngFor="let product of order.products">
          {{product.count}} x {{product.productName}} ({{product.productColor}}) @{{product.price}}
        </div>
      </td>
      <td>Rs.{{order['total']}}</td>
      <td>{{order['custDetails']['shopperName']}}</td>
      <td>{{order['custDetails']['shopperMobile']}}</td>
      <td>{{order['custDetails']['shopperMail']}}</td>
      <td>{{order['custDetails']['shopperAddress']}}</td>
      <td>
        <select>
          <option>Pending</option>
          <option>Confirmed</option>
          <option>Shipped</option>
        </select>
        <br/>
        <button class="btn btn-success mt-2">Update</button>
      </td>
      <div> </div>
    </tr>

  </tbody>
</table>