<div>
  <div *ngIf="formLoaded" class="container">
    <form [formGroup]="ClientForm">

      <div class="row">
        <div class="col-md-4">
          <label>Shop Name</label>:
          <input formControlName="shopName" class="form-control" type="text">
        </div>
        <div class="col-md-4">
          <label>Shop Owner</label>:
          <input formControlName="shopOwner" class="form-control" type="text">
        </div>
        <div class="col-md-4">
          <label>Shop Owner Mobile</label>:
          <input formControlName="shopOwnerMobile" class="form-control" type="number">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label>Shop Owner Email</label>:
          <input formControlName="shopOwnerEmail" class="form-control" type="text">
        </div>

        <div class="col-md-3">
          <label>Shop Owner Instagram ID</label>:
          <input formControlName="shopOwnerInstaId" class="form-control" type="text">
        </div>
        <div class="col-md-3">
          <label>Shop Owner GPAY ID</label>:
          <input formControlName="shopOwnerGpay" class="form-control" type="text">
        </div>
        <div class="col-md-3">
          <label>Shop Owner PAYTM ID</label>:
          <input formControlName="shopOwnerPaytm" class="form-control" type="text">
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <label>Shop Owner Address</label>:
          <textarea foromControlName="shopOwnerAddress" rows="3" cols="40" style="resize:none" class="form-control"> </textarea>
        </div>
        <div class="col-md-3">
          <label>Shop LOGO</label>:
          <input formControlName="shopLogo" class="form-control" name="uploadfile" type="file">
        </div>
      </div>
      <div class="btn btn-success" style="margin:1rem" (click)="addProduct()">Add an Item +</div>
      <div id="product" formArrayName="ProductDetails" class="container"
        *ngFor="let Product of ClientForm.get('ProductDetails')['controls']; let i=index;">
        <h4>Product: {{i+1}}</h4>
        <div [formGroupName]="i">
          <div class="formGroup" style="margin-bottom:0.5rem">
            <label>Product Name</label>:
            <input formControlName="productName" class="form-control" type="text">
          </div>

          <div class="formGroup">
            <input  (change)="fileChange($event,i)" type="file" class='form-control' placeholder="File">
            <button *ngIf="i>0" style="margin-top:0.5rem" class='btn btn-danger' (click)="RemoveProduct(i)">
                 Remove
                </button>
          </div>
          <div class="formGroup">
            <label>Product Color</label>:
            <input formControlName="productColor" class="form-control" type="text">
          </div>
          <div class="btn btn-primary" style="margin-top:0.5rem" (click)="addProductVariance(i)">Add Variance +</div>
          <div formArrayName="ProductVariance"
            *ngFor="let Variance of Product.get('ProductVariance')['controls']; let j=index;">
            <div [formGroupName]="j">
              <div class="btn btn-danger" *ngIf='j>0' style="margin-top:0.5rem" (click)="RemoveVariance(i,j)">Remove
                Variance</div>
              <div class="formGroup">
                <label>Price</label>:
                <input formControlName="productPrice" class="form-control" type="text">
              </div>
              <div class="formGroup">
                <label>Availability</label>:
                <input formControlName="productAvailability" class="form-control" type="text">
              </div>
              <div class="formGroup">
                <label>Size</label>:
                <input formControlName="productSize" class="form-control" type="text">
              </div>
            </div>
          </div>


        </div>
      </div>


    </form>
  </div>
  <div class="btn btn-success" *ngIf="!shopName" (click)="CreateShop()">Submit</div>
  <div class="btn btn-primary" *ngIf="shopName" (click)="updateShop()">Submit</div>


</div>