<div>
  <div *ngIf="formLoaded" class="container">
    <form [formGroup]="ClientForm" class=m-3>

      <div class="row ">
        <h3>Create your own Shop in 2min for Free!!!</h3>
        <div class="col-md-4 p-1">
          <input formControlName="shopName" class="form-control" type="text" placeholder="Shop Name">
        </div>
        <div class="col-md-4 p-1">
          <input formControlName="shopOwner" class="form-control" type="text" placeholder="Shop Owner Name">
        </div>
        <div class="col-md-4 p-1">
          <input formControlName="shopOwnerMobile" class="form-control" type="number" placeholder="Mobile No."> 
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 p-1">
          <input formControlName="shopOwnerEmail" class="form-control" type="text" placeholder="Email ID">
        </div>

        <div class="col-md-3 p-1">
          <input formControlName="shopOwnerInstaId" class="form-control" type="text" placeholder="Instagram ID">
        </div>
        <div class="col-md-3 p-1">
          <input formControlName="shopOwnerGpay" class="form-control" type="text" placeholder="GPay UPI Address">
        </div>
        <div class="col-md-3 p-1">
          <input formControlName="shopOwnerPaytm" class="form-control" type="text" placeholder="Paytm UPI Address">
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 p-1">
          <textarea foromControlName="shopOwnerAddress" rows="3" cols="40" style="resize:none" class="form-control" placeholder="Address" > </textarea>
        </div>
        <div class="col-md-3 p-1">
          <label>Shop LOGO</label>:
          <input formControlName="shopLogo" class="form-control" name="uploadfile" type="file">
        </div>
      </div>
      <div class="btn btn-success" style="margin:1rem" (click)="addProduct()">Add an Item +</div>
      <div id="product" formArrayName="ProductDetails" class="container"
        *ngFor="let Product of ClientForm.get('ProductDetails')['controls']; let i=index;">
        <h4>Product: {{i+1}}</h4>
        <div [formGroupName]="i">
          <div class="formGroup" style="margin-bottom:0.5rem">
            
            <input formControlName="productName" class="form-control" type="text" placeholder="Product Name">
          </div>

          <div class="formGroup">
            <input  (change)="fileChange($event,i)" type="file" class='form-control' placeholder="File">
            <button *ngIf="i>0" style="margin-top:0.5rem" class='btn btn-danger' (click)="RemoveProduct(i)">
                 Remove
                </button>
          </div>
          <div class="formGroup pt-1">
            <input formControlName="productColor" class="form-control" type="text" placeholder="Product Color">
          </div>
          <div class="btn btn-primary" style="margin-top:0.5rem" (click)="addProductVariance(i)">Add Variance +</div>
          <div formArrayName="ProductVariance"
            *ngFor="let Variance of Product.get('ProductVariance')['controls']; let j=index;">
            <div [formGroupName]="j">
              <div class="btn btn-danger" *ngIf='j>0' style="margin-top:0.5rem" (click)="RemoveVariance(i,j)">Remove
                Variance</div>
              <div class="formGroup">
                <input formControlName="productPrice" class="form-control" type="text" placeholder="Price">
              </div>
              <div class="formGroup">
                <input formControlName="productAvailability" class="form-control" type="text" placeholder="Total Stock Available">
              </div>
              <div class="formGroup">
                <label>Size</label>:
                <input formControlName="productSize" class="form-control" type="text">
              </div>
            </div>
          </div>


        </div>
      </div>

    <div class="btn btn-success m-1" *ngIf="!shopName" (click)="CreateShop()">Submit</div>
  <div class="btn btn-primary p-1" *ngIf="shopName" (click)="updateShop()">Submit</div>
    </form>
    
  </div>
  


</div>